################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
*.suo
*.user
*.bak
*/bin
*/obj
/packages
*.Debug.config
*.Release.config
