<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SharepointListMngApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <SharepointListMngApp.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://kariverification12.sharepoint.com/sites/IDEA</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root@kariverification12.onmicrosoft.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>!QAZ2wsx</value>
            </setting>
            <setting name="ListName" serializeAs="String">
                <value>海外出張申請</value>
            </setting>
            <setting name="LogRowLimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UniqueKey" serializeAs="String">
                <value>DocUniID</value>
            </setting>
            <setting name="SelectCol" serializeAs="String">
                <value/>
            </setting>
        </SharepointListMngApp.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
